  @import url('https://fonts.googleapis.com/css2?family=Yarndings+20&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

*{
 
  box-sizing:border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
}

i{
  position: absolute;
  width: 3px;
  height: 3px;
  background: #9ea0ff;
  pointer-events: none;
  animation: animate 1s linear forwards;
}

@keyframes animate 
{
  0%{
    opacity: 1;
    transform: translate(0, 0);
  }
  100%{
    opacity: 0;
    transform: translate(var(--x), var(--y));
  }
}


body {
    background-color: #fffcf5;
}

  .home {

  }
  .head {
     font-family: "DotGothic16", monospace; 
     color: #37322e;
     font-size: 3.1rem;
     text-align: center;
  }

  .text {
    font-family: "DotGothic16", monospace;
    font-size:1.3rem;
    color:#37322e;
    text-align: center; 
  }
  
  .symbols {
    font-family: "Yarndings 20", system-ui;
    font-size: 4rem;
    color:#696bff; 
    padding-left: 29px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .snoopie {
    display: flex; 
    justify-content: center;

  }
 