@import url("https://use.typekit.net/ozd3gwa.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "louvettepixel-light", sans-serif;
}
body {
    background: rgb(255, 253, 249);
}
nav {
    width: 100%;
    padding 1rem 5%;
    background: rgb(255, 253, 249);
    border-bottom: 1.5px dashed rgb(31, 31, 31);
    backdrop-filter: blur(15px);
    margin-bottom: 2rem;

    display: flex;
    align-items:center;
    justify-content: flex-end;
}

.fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:0; 
    width: 20px;
}

.nav-bar {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.nav-bar li a {
    position: relative;
    font-size: 1.3rem;
    font-family: "louvettepixel-light", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: rgba(31, 31, 31); 
    transition: 0.3s;
}

.nav-bar li a:hover {
    color: rgb(85, 85, 253);
    text-shadow: 0 0 1px  rgb(201, 201, 255);
}

.bttns {
    display: flex;
    margin-right: auto;
    padding-left: 1rem;
}

.search {
    padding: 0.5rem 1.3rem; 
    border-radius: 30px;
    font-family: "louvettepixel-light", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background: rgb(31, 31, 31);
    color: rgb(255, 255, 255); 
    border: none;
    cursor: help; 
    transition: 0.3s;
}

.search:hover {
 background: rgb(99, 99, 255);
 box-shadow: 0 0 3px rgb(99, 99, 255);  
}

.rabbit {
    width: 150px;
    padding-top: 0.5rem;
    margin-right: 575px; 
}

.home header {
    padding: 7rem;
    padding-top: 10.8rem;
    padding-left: 8.5rem;
}
h1 {
    display: flex;
    font-family: "louvettepixel-light", sans-serif;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 7rem;
    font-size: 6.5rem;

}

.mandarin-translate h1.en {
    font-size: 5rem;
    font-family: "louvettepixel-light", sans-serif;
    font-weight: 700;
    padding: 3rem;

}

.english-translate .cn {
    display: none;
  }
  .mandarin-translate .en {
    display: none;
  }

.bar {
    justify-content: center;
}

.enter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.open {
    padding: 0.5rem 1.3rem; 
    border-radius: 30px;
    background: rgb(31, 31, 31);
    color: rgb(255, 255, 255); 
    border: none;
    cursor: sw-resize; 
}
a.open {
    display:inline-block;
}

.enter p.english-translate {
    font-family: "louvettepixel-light", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

.open:hover {
 background: rgb(99, 99, 255);
 box-shadow: 0 0 3px rgb(99, 99, 255);  
}

.announcement {
    display: flex;
    font-family: "louvettepixel-light", sans-serif;
    font-weight: 700;
    font-size: 7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 7rem;
    padding-top: 17rem;
}

.back {
    padding: 0.5rem 1.3rem; 
    border-radius: 30px;
    font-family: "louvettepixel-light", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background: rgb(31, 31, 31);
    color: rgb(255, 255, 255); 
    border: none;
    cursor: n-resize; 
    transition: 0.3s;
}

.back:hover {
    background: rgb(99, 99, 255);
    box-shadow: 0 0 3px rgb(99, 99, 255);  
   }